<h1>Daftar Murid</h1>
<%= link_to '+ Siswa', new_siswa_path, class:"btn btn-primary white", style:"color:white;" %>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>NIS</th>
      <th>Nama</th>
      <th>Orangtua</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @siswas.each do |siswa| %>
      <tr>
        <td><%= siswa.nis %></td>
        <td><%= siswa.nama %></td>
        <td><%= siswa.orangtua.nama %></td>
        <td><%= link_to 'Show', siswa, class:"btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_siswa_path(siswa), class:"btn btn-warning" %></td>
        <td><%= link_to 'Destroy', siswa, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


