<h1>Daftar Siswa mengambi Ekskul</h1>
<%= link_to '+ Ekskul Siswa', new_berekskul_path, class:"btn btn-primary white", style:"color:white;" %>
<table>
  <thead>
    <tr>
      <th>Tahun</th>
      <th>Mahasiswa</th>
      <th>Ekskul</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @berekskuls.each do |berekskul| %>
      <tr>
        <td><%= berekskul.tahun %></td>
        <td><%= berekskul.mahasiswa_id %></td>
        <td><%= berekskul.ekskul_id %></td>
        <td><%= link_to 'Show', berekskul, class:"btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_berekskul_path(berekskul), class:"btn btn-warning" %></td>
        <td><%= link_to 'Destroy', berekskul, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


