<%= form_for(@mengajar) do |f| %>
  <% if @mengajar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mengajar.errors.count, "error") %> prohibited this mengajar from being saved:</h2>

      <ul>
      <% @mengajar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tahun_ajaran %><br>
    <%= f.text_field :tahun_ajaran %>
  </div>
  <div class="field">
    <%= f.label :guru_id %><br>
    <%= f.select :guru_id, guru %>
  </div>
  <div class="field">
    <%= f.label :mapel_id %><br>
    <%= f.select :mapel_id, mapel %>
  </div>
  <div class="actions">
    <%= f.submit class:"btn btn-primary"%>
  </div>
<% end %>
