<h1>Daftar mengajar Guru</h1>

<%= link_to '+ Mengajar', new_mengajar_path, class:"btn btn-primary white", style:"color:white;" %>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Tahun ajaran</th>
      <th>Guru</th>
      <th>Mapel</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mengajars.each do |mengajar| %>
      <tr>
        <td><%= mengajar.tahun_ajaran %></td>
        <td><%= mengajar.guru.nama %></td>
        <td><%= mengajar.mapel.nama %></td>
        <td><%= link_to 'Show', mengajar, class:"btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_mengajar_path(mengajar), class:"btn btn-warning" %></td>
        <td><%= link_to 'Destroy', mengajar, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

