<h1>Daftar Guru</h1>
<%= link_to '+ Guru', new_guru_path, class:"btn btn-primary white", style:"color:white;" %>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Nip</th>
      <th>Nama</th>
      <th>Email</th>
     <th>Alamat</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gurus.each do |guru| %>
      <tr>
        <td><%= guru.nip %></td>
        <td><%= guru.nama %></td>
        <td><%= guru.email %></td>
        <td><%= guru.alamat %></td>
        <td><%= link_to 'Show', guru, class:"btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_guru_path(guru), class:"btn btn-warning" %></td>
        <td><%= link_to 'Destroy', guru, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


