<%= form_for(@ekskul) do |f| %>
  <% if @ekskul.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ekskul.errors.count, "error") %> prohibited this ekskul from being saved:</h2>

      <ul>
      <% @ekskul.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nama %><br>
    <%= f.text_field :nama %>
  </div>
  <div class="field">
    <%= f.label :deskripsi %><br>
    <%= f.text_field :deskripsi %>
  </div>
  <div class="field">
    <%= f.label :guru_id %><br>
    <%= f.number_field :guru_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
