<h1>Daftar Walikelas</h1>

<%= link_to '+ Walikelas', new_walikela_path, class:"btn btn-primary white", style:"color:white;" %>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Tahun ajaran</th>
      <th>Kelas</th>
      <th>Guru</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @walikelas.each do |walikela| %>
      <tr>
        <td><%= walikela.tahun_ajaran %></td>
        <td><%= walikela.kela.nama %></td>
        <td><%= walikela.guru.nama %></td>
        <td><%= link_to 'Show', walikela, class:"btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_walikela_path(walikela), class:"btn btn-warning" %></td>
        <td><%= link_to 'Destroy', walikela, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

