<p id="notice"><%= notice %></p>

<p>
  <strong>Nik:</strong>
  <%= @orangtua.NIK %>
</p>

<p>
  <strong>Nama:</strong>
  <%= @orangtua.nama %>
</p>

<p>
  <strong>Email:</strong>
  <%= @orangtua.email %>
</p>

<p>
  <strong>Alamat:</strong>
  <%= @orangtua.alamat %>
</p>

<p>
  <strong>Pekerjaan:</strong>
  <%= @orangtua.pekerjaan %>
</p>

<p>
  <strong>Agama:</strong>
  <%= @orangtua.agama %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @orangtua.birthday %>
</p>

<p>
  <strong>Birthplace:</strong>
  <%= @orangtua.birthplace %>
</p>


<%= link_to 'Edit', edit_orangtua_path(@orangtua) %> |
<%= link_to 'Back', orangtuas_path %>
