<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @profilsekolah.title %>
</p>

<p>
  <strong>Deskripsi:</strong>
  <%= @profilsekolah.deskripsi %>
</p>

<%= link_to 'Edit', edit_profilsekolah_path(@profilsekolah) %> |
<%= link_to 'Back', profilsekolahs_path %>
