<h1>Daftar Absesnsi</h1>
<%= link_to '+ Abesnsi', new_abesnsi_path, class:"btn btn-primary white", style:"color:white;"  %>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Status</th>
      <th>Mahasiswa</th>
      <th>Jadwal</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @abesnsis.each do |abesnsi| %>
      <tr>
        <td><%= abesnsi.status %></td>
        <td><%= abesnsi.siswa.nama %></td>
        <td><%= abesnsi.jadwal.hari %> <%=abesnsi.jadwal.tanggal%> <%=abesnsi.jadwal.kelas.nama%></td>
        <td><%= link_to 'Show', abesnsi, class:"btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_abesnsi_path(abesnsi), class:"btn btn-warning" %></td>
        <td><%= link_to 'Destroy', abesnsi, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


