<%= form_for(@nilaiakhir) do |f| %>
  <% if @nilaiakhir.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nilaiakhir.errors.count, "error") %> prohibited this nilaiakhir from being saved:</h2>

      <ul>
      <% @nilaiakhir.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nilai %><br>
    <%= f.text_field :nilai %>
  </div>
  <div class="field">
    <%= f.label :berkelas_id %><br>
    <%= f.number_field :berkelas_id %>
  </div>
  <div class="field">
    <%= f.label :mapel_id %><br>
    <%= f.number_field :mapel_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
