<h1>Daftar Nilai Akhir</h1>
<%= link_to '+ Nilaiakhir', new_nilaiakhir_path , class:"btn btn-primary white", style:"color:white;"%>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Nilai</th>
      <th>Berkelas</th>
      <th>Mapel</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @nilaiakhirs.each do |nilaiakhir| %>
      <tr>
        <td><%= nilaiakhir.nilai %></td>
        <td><%= nilaiakhir.berkelas_id %></td>
        <td><%= nilaiakhir.mapel_id %></td>
        <td><%= link_to 'Show', nilaiakhir, class:"btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_nilaiakhir_path(nilaiakhir), class:"btn btn-warning" %></td>
        <td><%= link_to 'Destroy', nilaiakhir, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


