<h1>Daftar Mata Pelajaran</h1>
<%= link_to '+ Mata Pelajaran', new_mapel_path, class:"btn btn-primary white", style:"color:white;" %>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Kode</th>
      <th>Nama</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mapels.each do |mapel| %>
      <tr>
        <td><%= mapel.kode %></td>
        <td><%= mapel.nama %></td>
        <td><%= link_to 'Show', mapel, class:"btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_mapel_path(mapel) , class:"btn btn-warning"%></td>
        <td><%= link_to 'Destroy', mapel, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


